body
{
	background-color: #99c5cc;
	font-family: Verdana;
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;
}

*:focus
{
	outline: none;
}

div 
{
	margin: 10px;
	margin-bottom: 30px;
	border-radius: 4px;
	text-align: center;
	padding-bottom: 5px;
	background-color: #eee;
}

div p
{
	margin: auto;
	width: 90%;
	font-size: 103%;
}

#Aboutme
{
	box-shadow: 6px 6px red;
}

#Articles
{
	box-shadow: 6px 6px green;
	overflow: hidden;
	display: flex;
	height: 100%;
}

.Selected
{
	font-weight: bold;
	list-style: '> ' inside;
}

#ArticlesSidebar a
{
	text-decoration: none;
	color: green;
}

#ArticlesSidebar > ul
{
	list-style: outside '-> ';
}

#ArticlesSidebar
{
	background-color: #eef;
	float: left;
	margin: 0px;
	border-right: 3px solid;
	border-color: red;
	text-align: left;
	width: 30%;
}

#ArticlesSidebar h2
{
	text-align: center;	
}

#ArticlesSidebar > h2 > a
{
	text-align: center;	
	color: blue;
	text-decoration: underline;
}

#Article > h2
{
	margin: auto;
}

#Article > h4
{
	text-transform: capitalize; 
}

#Contact
{
	box-shadow: 6px 6px blue;
}